{{#each this}}
<div class="data-country-conteiner">
    <h1 class="name">{{name}}</h2>
        <p class="data-values">Capital: {{capital}}</p>
        <p class="data-values">Population: {{population}}</p>
        <ul class="data-values">Languages:
            {{#each languages}}
            <li class="languages-item">{{name}}</li>
            {{/each}}
        </ul>
</div>

<div class="card-img">
    <img src="{{flag}}" alt="{{name}}" class="img-flag">
</div>
{{/each}}